.input-favorite {
  margin: 30px;
  font-size: 18px;

  #check-showMovies {
    display: flex;
    gap: 10px;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;

    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #706ea8;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 5ms transform ease-in-out;
    box-shadow: inset 1em 1em #706ea8;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:focus {
    outline-offset: max(2px, 0.15em);
  }
}
